
.main {
  grid-area: main;
  background: #9A7AA0;
  list-style-type: none;
  padding: 10px;
  border-radius: 25px;
}

.app-logo {
  grid-area: header;
  color: white;
  display: grid;
  place-items: center;
}

.logo {
  justify-content: center;
  
}

.nav {
  grid-area: sidebar;
  background: #778472;
  max-height: 100px;
  list-style-type: none;
  padding: 10px;
  border-radius: 25px;
}

.nav-menu {
  display: block;
  color: #000;
  padding: 8px 16px;
  border-radius: 25px;
  text-decoration: none;
}

.nav-menu:hover {
  background-color: #FFBE0B;
  border-radius: 25px;
  color: black;
}

.App {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #F5F5F5;
  display: grid;
  grid-template-columns: 200px 30px auto auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "sidebar . main main"
    "footer footer footer footer";
  row-gap: 15px;
}